.projects-section {
  padding: 0 15% 15% 15%;

  .projects-container {
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
    grid-auto-rows: 600px;
    gap: 100px;
    margin: 0 auto;
  }

  @media all and (max-width: 780px) {
    padding-bottom: 75px;

    .projects-container {
      grid-auto-rows: 500px;
      gap: 50px;
    }
  }
}
