.landing_section {
  width: 100vw;
  height: 100vh;
  background-color: #eaecf3;
  position: relative;
  overflow: hidden;
}

.landing_section .text_container {
  position: absolute;
  left: 30%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 30%;
  text-align: center;
  z-index: 2;
}

.landing_section .text_container .title--landing_section {
  color: white;
  font-size: 90px;
  margin: 15px;
  font-weight: 500;
}

.landing_section .text_container .subtitle--landing_section {
  color: white;
  font-weight: 300;
  font-size: 35px;
  margin: 15px;
}

.landing_section .text_container .button--landing_section {
  width: 280px;
  height: 70px;
  background-color: #f95884;
  border-radius: 50px;
  border-style: none;
  margin: 15px;
  font-size: 20px;
  font-weight: 600;
  font-family: inherit;
  color: white;
}

.landing_section .background_container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.landing_section .background_container .background__pattern {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.landing_section .background_container .background__working_man {
  position: absolute;
  bottom: 0;
  right: 15%;
  height: 1300px;
  width: 1300px;
  z-index: 1;
}

@media all and (max-width: 1920px) {
  .landing_section {
    max-height: 1620px;
  }
  .landing_section .background_container {
    max-height: 1620px;
  }
  .landing_section .background_container .background__working_man {
    height: 900px;
    width: 900px;
    right: 5%;
  }
  .landing_section .background_container .background__pattern {
    width: 1920px;
  }
  .landing_section .background_container .text_container .title--landing_section {
    font-size: 60px;
  }
  .landing_section .background_container .text_container .subtitle--landing_section {
    font-size: 25px;
  }
  .landing_section .background_container .text_container .button--landing_section {
    font-size: 18px;
    height: 50px;
    width: 250px;
  }
}

@media all and (max-width: 1690px) {
  .landing_section {
    max-height: 1490px;
  }
  .landing_section .background_container {
    max-height: 1490px;
  }
  .landing_section .background_container .background__pattern {
    width: 1690px;
  }
}

@media all and (max-width: 1280px) {
  .landing_section {
    max-height: 1080px;
  }
  .landing_section .background_container {
    max-height: 1080px;
  }
  .landing_section .background_container .background__working_man {
    height: 650px;
    width: 650px;
    left: 10%;
    right: 0;
  }
  .landing_section .background_container .background__pattern {
    width: 1280px;
  }
  .landing_section .background_container .text_container {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 15%;
    width: 100%;
  }
  .landing_section .background_container .text_container .title--landing_section {
    font-size: 40px;
  }
  .landing_section .background_container .text_container .subtitle--landing_section {
    font-size: 20px;
  }
  .landing_section .background_container .text_container .button--landing_section {
    font-size: 14px;
  }
}

@media all and (max-width: 980px) {
  .landing_section {
    max-height: 780px;
  }
  .landing_section .background_container {
    max-height: 780px;
  }
  .landing_section .background_container .background__working_man {
    height: 600px;
    width: 600px;
  }
  .landing_section .background_container .background__pattern {
    width: 980px;
  }
}

@media all and (max-width: 760px) {
  .landing_section .background_container .background__working_man {
    height: 500px;
    width: 500px;
  }
  .landing_section .background_container .background__pattern {
    width: 1200px;
  }
}

@media all and (max-width: 480px) {
  .landing_section .background_container .background__working_man {
    height: 400px;
    width: 400px;
    left: 0;
  }
  .landing_section .background_container .text_container {
    top: 25%;
  }
  .landing_section .background_container .text_container .title--landing_section {
    font-size: 30px;
    margin: 10px 0;
  }
  .landing_section .background_container .text_container .subtitle--landing_section {
    font-size: 18px;
    max-width: 300px;
    margin: auto;
  }
  .landing_section .background_container .text_container .button--landing_section {
    width: 200px;
    height: 45px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=Landing_section.css.map */