.landing-section {
  width: 100vw;
  height: 100vh;
  max-height: 1080px;
  background-color: #eaecf3;
  position: relative;
  overflow: hidden;
}

.landing-section .landing-section__background-container {
  height: 100vh;
  max-height: 1080px;
  position: relative;
  overflow: hidden;
}

.landing-section .landing-section__background-container .background-container__background-pattern {
  position: absolute;
  width: 100%;
  top: -20%;
  z-index: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.landing-section .landing-section__background-container .background-container__figure {
  position: absolute;
  bottom: 0;
  right: 15%;
  height: 900px;
  width: 900px;
  z-index: 1;
}

.landing-section .landing-section__text-container {
  position: absolute;
  left: 30%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 30%;
  text-align: center;
  z-index: 2;
}

.landing-section .landing-section__text-container .landing-section__title {
  color: white;
  margin: 15px;
}

.landing-section .landing-section__text-container .landing-section__subtitle {
  color: white;
  margin: 15px;
}

.landing-section .landing-section__text-container .landing-section__button {
  width: 280px;
  height: 60px;
  background-color: #f95884;
  border-radius: 50px;
  border-style: none;
  margin: 15px;
  font-size: 18px;
  font-weight: 600;
  font-family: inherit;
  color: white;
}

@media all and (max-width: 1920px) {
  .landing-section .landing-section__background-container .background-container__background-pattern {
    width: 1920px;
  }
  .landing-section .landing-section__background-container .background-container__figure {
    right: 5%;
  }
}

@media all and (max-width: 1690px) {
  .landing-section {
    max-height: 980px;
  }
  .landing-section .landing-section__background-container {
    max-height: 980px;
  }
  .landing-section .landing-section__background-container .background-container__background-pattern {
    top: -10%;
  }
}

@media all and (max-width: 1260px) {
  .landing-section {
    max-height: 860px;
  }
  .landing-section .landing-section__background-container {
    max-height: 860px;
  }
  .landing-section .landing-section__background-container .background-container__figure {
    height: 650px;
    width: 650px;
    left: 10%;
    right: 0;
  }
  .landing-section .landing-section__background-container .background-container__background-pattern {
    width: 1690px;
  }
  .landing-section .landing-section__background-container .landing-section__text-container {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 15%;
    width: 100%;
  }
  .landing-section .landing-section__background-container .landing-section__text-container .landing-section__button {
    font-size: 14px;
    width: 220px;
    height: 50px;
  }
}

@media all and (max-width: 980px) {
  .landing-section {
    max-height: 780px;
  }
  .landing-section .landing-section__background-container {
    max-height: 780px;
  }
  .landing-section .landing-section__background-container .background-container__figure {
    height: 600px;
    width: 600px;
  }
  .landing-section .landing-section__background-container .background-container__background-pattern {
    top: -5%;
    width: 1260px;
  }
}

@media all and (max-width: 780px) {
  .landing-section .landing-section__background-container .background-container__figure {
    height: 500px;
    width: 500px;
  }
}

@media all and (max-width: 480px) {
  .landing-section .landing-section__background-container .background-container__figure {
    height: 400px;
    width: 400px;
    left: 0;
  }
  .landing-section .landing-section__background-container .landing-section__text-container {
    top: 25%;
  }
  .landing-section .landing-section__background-container .landing-section__text-container .landing-section__title {
    margin: 10px 0;
  }
  .landing-section .landing-section__background-container .landing-section__text-container .landing-section__subtitle {
    max-width: 300px;
    margin: auto;
  }
  .landing-section .landing-section__background-container .landing-section__text-container .landing-section__button {
    width: 200px;
    height: 45px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=Landing_section.css.map */