.landing-section {
  // This is the css for monitors wider than 1920px.
  width: 100vw;
  height: 100vh;
  max-height: 2000px;
  background: linear-gradient(225deg, #42b0d4, #465ab5, #4d24a3);
  position: relative;

  .landing-section__background-container {
    height: 100vh;
    max-height: 2000px;
    position: relative;

    .hero-bg {
      position: absolute;
      width: 100%;
      height: 100%;

      .hero-bottom-pattern {
        position: absolute;
        bottom: -1px;
        width: 100%;
      }

      .hero-top-corner-pattern {
        position: absolute;
        top: 0;
        right: 0;
        height: 35%;
      }

      .hero-bottom-corner-pattern {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 75%;
      }
    }

    .hero-figures {
      position: absolute;
      width: 100%;
      height: 100%;

      .hero-character {
        position: absolute;
        top: 15%;
        right: 25%;
        transform: translateX(50%);
        width: 45%;
      }

      .hero-planets {
        position: absolute;
        top: 2.5%;
        left: 1%;
        height: 20%;
      }
    }

    .hero-text {
      align-items: center;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      width: 45%;
      height: 45%;
      top: 15%;
      left: 25%;
      transform: translateX(-25%);

      h1 {
        color: white;
        font-weight: 500;
        margin: 5px 0;
      }
      h5 {
        text-align: center;
        color: white;
        margin: 5px 0;
      }

      .hero-button {
        margin: 50px 0;
        width: 290px;
        height: 70px;
        background-color: white;
        color: #403bd6;
        border-radius: 100px;
        font-family: inherit;
        font-weight: 700;
        font-size: 20px;

        border-style: none;
      }
    }
  }

  .landing-section__text-container {
    position: absolute;
    left: 15%;
    top: 15%;
    transform: translateY(-50%);
    text-align: left;
    z-index: 2;
    width: 1000px;

    .landing-section__pre-title {
      font-weight: 500;
      margin: 5px 0;
    }

    .landing-section__title {
      color: black;
      margin: 5px 0;
      font-weight: 500;
    }

    .landing-section__subtitle {
      color: black;
      margin: 5px 0;
      font-weight: 500;
    }

    .landing-section__button-container {
      display: flex;
      margin-top: 150px;

      .default-button {
        margin-right: 50px;
      }
    }
  }

  // If the browser window is 1920px and smaller
  @media all and (max-width: 1920px) {
    max-height: 1080px;
    .landing-section__background-container {
      max-height: 1080px;
      .hero-container {
        height: 860px;
        width: 800px;
      }
      .landing-page__bottom-pattern {
        bottom: -35%;
        width: 600px;
      }
    }
    .landing-section__text-container {
      width: 1260px;
    }
  }

  @media all and (max-width: 1590px) {
    max-height: 980px;
    .landing-section__background-container {
      max-height: 980px;

      .hero-container {
        height: 700px;
        width: 600px;
      }
      .landing-page__bottom-pattern {
        bottom: -30%;
        width: 500px;
      }
    }
    .landing-section__text-container {
      width: 1080px;
      .landing-section__title {
        width: 65%;
      }
      .landing-section__subtitle {
        width: 65%;
      }
      .landing-section__button-container {
        margin-top: 100px;
      }
    }
  }

  @media all and (max-width: 1260px) {
    max-height: 860px;
    .landing-section__background-container {
      max-height: 860px;
      .hero-container {
        height: 600px;
        width: 550px;
      }
      .landing-page__bottom-pattern {
        width: 400px;
      }
    }
    .landing-section__text-container {
      width: 960px;
      .landing-section__title {
        width: 50%;
      }
      .landing-section__subtitle {
        width: 50%;
      }
      .landing-section__button-container {
        margin-top: 75px;
      }
    }
  }

  @media all and (max-width: 980px) {
    max-height: 780px;
    .landing-section__background-container {
      max-height: 780px;
      .background-container__figure {
        height: 600px;
        width: 600px;
      }
      .background-container__background-pattern {
        top: -5%;
        width: 1260px;
      }
    }
  }

  @media all and (max-width: 780px) {
    .landing-section__background-container {
      .background-container__figure {
        height: 500px;
        width: 500px;
      }
    }
  }
  // hide the image on phones
  @media all and (max-width: 480px) {
    .landing-section__background-container {
      .background-container__figure {
        height: 400px;
        width: 400px;
        left: 0;
      }

      .landing-section__text-container {
        top: 25%;
        .landing-section__title {
          margin: 10px 0;
        }
        .landing-section__subtitle {
          max-width: 300px;
          margin: auto;
        }
        .landing-section__button {
          width: 200px;
          height: 45px;
          font-size: 12px;
        }
      }
    }
  }
}
