.competence-section {
  padding: 0 15% 15% 15%;
  overflow: hidden;

  .competence-cards-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 500px;
    gap: 50px;
  }

  .education-section {
    padding-top: 100px;
    gap: 75px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    .education-section__text-container {
      .education-button-wrapper {
        position: relative;
        height: 52px;
        width: 200px;
        margin: 20px 0;

        .CV-button {
          z-index: 1;
          background: linear-gradient(225deg, #9779ec, #4c4cf8);
          width: 100%;
          height: 100%;
          color: white;
          border-radius: 8px;
          border: none;
          font-weight: 500;
          font-family: inherit;
          font-size: 18px;
        }

        .CV-button-background {
          position: absolute;
          top: 5px;
          left: 5px;
          z-index: -1;
          width: 100%;
          height: 100%;
          border: 1px solid #2611b5;
          border-radius: 8px;
        }
      }

      h4 {
        margin: 10px 0;
        text-transform: capitalize;
        font-weight: 600;
        color: #2a2a2a;
      }
      p {
        margin-bottom: 50px;
      }
    }

    .image-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      height: 100%;

      img {
        height: 250px;
        width: auto;
      }
    }
  }

  /* <---------- RESPONSIVNESS ------------> */

  @media all and (max-width: 1260px) {
    padding-top: 75px;
    padding-bottom: 75px;
    .education-section__text-container {
      p {
        margin-bottom: 50px;
      }
    }
  }

  @media all and (max-width: 780px) {
    padding-top: 50px;
    padding-bottom: 50px;

    .competence-cards-container {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      gap: 35px;
    }

    .education-section {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      padding-top: 50px;

      .education-section__text-container {
        .education-button-wrapper {
          display: none;
        }
        p {
          margin-bottom: 0;
        }
      }

      .image-container {
        display: none;
      }
    }
  }
}
