.service-card {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  /* border-radius: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .service-icon {
    height: 75px;
    width: 75px;
  }

  .service-card__text-container {
    padding: 0 15%;

    h5 {
      text-align: center;
      margin: 15px;
      font-weight: 600;
    }
    p {
      text-align: center;
      margin: 0;
    }
  }

  @media all and (max-width: 1260px) {
    .service-icon {
      height: 70px;
      width: 70px;
    }
  }

  @media all and (max-width: 780px) {
    .service-icon {
      height: 65px;
      width: 65px;
    }
  }
}
