.Service-section {
  padding: 0 6% 6% 6%;
  overflow: hidden;

  .service-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1280px;
    margin: 0 auto;
    gap: 20px;
    grid-auto-rows: 400px;
  }

  @media all and (max-width: 780px) {
    padding-bottom: 75px;
    .service-cards-container {
      grid-auto-rows: minmax(280px, 300px);
    }
  }
}
