.Service-section {
  padding: 0 10% 5% 10%;
  overflow: hidden;
  /*   background: linear-gradient(0, #eef4ff, #f6faff); */

  .service-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0 auto;
    gap: 25px;
    grid-auto-rows: 450px;
    width: 1380px;
  }

  /* <---------- RESPONSIVNESS ------------> */

  @media all and (max-width: 1260px) {
    padding-bottom: 75px;
    .service-cards-container {
      grid-auto-rows: 350px;
    }
  }

  @media all and (max-width: 780px) {
    padding-bottom: 50px;
    .service-cards-container {
    }
  }
}
