.Service-section {
  padding: 0 6% 6% 6%;

  .service-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1280px;
    margin: 0 auto;
    gap: 1fr;
    gap: 20px;
    grid-auto-rows: minmax(280px, 400px);
  }
}
