.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.project-card .picture-right {
  border-radius: 0 20px 20px 0;
}

.project-card .picture-left {
  border-radius: 20px 0 0 20px;
}

.project-card .picture-side--project-card {
  width: 50%;
  height: 100%;
}

.project-card .pattern--project-card {
  width: 100%;
  height: 100%;
}

.project-card .card-color--green {
  background-image: url("../../assets/images/project-card-bg-green.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.project-card .card-color--purple {
  background-image: url("../../assets/images/project-card-pattern-bg-purple.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.project-card .button-color--green {
  background: linear-gradient(45deg, #6ad896, #5df3e5);
}

.project-card .button-color--purple {
  background: linear-gradient(45deg, #476ff3, #7cbef8);
}

.project-card .information-side--project-card {
  width: 50%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 9% 8%;
}

.project-card .information-side--project-card .text-container {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-card .information-side--project-card .button-container {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-card .information-side--project-card .button-container .button--project-card {
  width: 220px;
  height: 52px;
  color: white;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  font-family: inherit;
  font-size: 16px;
}

.project-card .information-side--project-card h2 {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin: 0 0 10px 0;
}

.project-card .information-side--project-card h5 {
  font-size: 20px;
  color: #5d5d5d;
  font-weight: 300;
  text-align: center;
  width: 100%;
  margin: 0;
}

@media all and (max-width: 780px) {
  .project-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 10px;
  }
  .project-card .picture-side--project-card {
    height: 50%;
    width: 100%;
  }
  .project-card .picture-right {
    border-radius: 10px 10px 0 0;
  }
  .project-card .information-side--project-card {
    height: 50%;
    width: 100%;
  }
  .project-card .information-side--project-card .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-card .information-side--project-card .text-container h5 {
    font-size: 18px;
    margin: 0;
  }
  .project-card .information-side--project-card .text-container h2 {
    font-size: 22px;
  }
  .project-card .information-side--project-card .button-container .button--project-card {
    font-size: 14px;
  }
}
/*# sourceMappingURL=Project_card.css.map */