.competence-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .competence-card__icon-container {
    height: 100px;
    width: 100px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    .competence-card__competence-icon {
    }
  }

  .icon-container-color--green {
    background: linear-gradient(180deg, #a2fbf1, #1bc8b1);
    // background: linear-gradient(0, #7878f5, #aad7ff);
  }

  .icon-container-color--blue {
    background: linear-gradient(180deg, #7fdafc, #3388d2);
    // background: linear-gradient(0, #7878f5, #aad7ff);
  }

  .icon-container-color--pink {
    background: linear-gradient(180deg, #ffb8f1, #ee75ce);
    // background: linear-gradient(0, #7878f5, #aad7ff);
  }

  .icon-container-color--orange {
    background: linear-gradient(180deg, #fee4cb, #ff9751);
    // background: linear-gradient(0, #7878f5, #aad7ff);
  }

  .competence-card__text-container {
    //max-width: 230px;
    .competence-card__title {
      text-align: center;
      margin: 20px 0;
      font-weight: 600;
    }
    .competence--card__text {
      text-align: center;
      margin: 0 0 10px 0;
    }
  }

  .competence-card__progress-container {
    width: 95%;

    .progress-bar__stats-container {
      display: flex;
      justify-content: space-between;
      p {
        font-weight: 600;
      }
    }

    .progress-bar__bar-background {
      width: 100%;
      height: 12px;
      color: white;
      border-radius: 10px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

      .progress-bar__bar-progress {
        height: 12px;
        background: linear-gradient(45deg, #5d47f3, #a987f8);
        border-radius: 10px;
      }
    }

    .progress-width--90 {
      width: 90%;
    }

    .progress-width--80 {
      width: 80%;
    }

    .progress-width--50 {
      width: 50%;
    }

    .progress-width--0 {
      width: 0%;
    }
  }

  /* ----------- RESPONSIVNESS  -----------  */

  @media all and (max-width: 780px) {
    .competence-card__icon-container {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .competence-card__competence-icon {
        height: 40px;
        width: 40px;
      }
    }

    .competence-card__progress-container {
      padding: 0 20px;

      .progress-bar__stats-container {
        p {
          margin: 5px 0;
        }
      }

      .progress-bar__bar-background {
        height: 8px;
        .progress-bar__bar-progress {
          height: 8px;
        }
      }
    }

    .competence-card__text-container {
      .competence-card__title {
        color: #5d5d5d;
        text-align: center;
        margin: 10px 0;
      }
      .competence--card__text {
        display: none;
      }
    }
  }
}
