.competence-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .green {
    background: linear-gradient(180deg, #a2fbf1, #1bc8b1);
  }

  .blue {
    background: linear-gradient(180deg, #7fdafc, #3388d2);
  }

  .pink {
    background: linear-gradient(180deg, #ffb8f1, #ee75ce);
  }

  .orange {
    background: linear-gradient(180deg, #fee4cb, #ff9751);
  }

  .icon-container {
    height: 100px;
    width: 100px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    .competence-icon {
      height: 50px;
      width: 50px;
    }
  }

  .text-container {
    //max-width: 230px;
    .competence-title {
      font-size: 30px;
      font-weight: 600;
      color: #5d5d5d;
      text-align: center;
      margin: 20px 0;
    }
    .competence-text {
      text-align: center;
      color: #5d5d5d;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.6;
      margin: 0 0 10px 0;
    }
  }

  .progress-bar-container {
    width: 95%;

    .width-90 {
      width: 90%;
    }

    .width-80 {
      width: 80%;
    }

    .width-50 {
      width: 50%;
    }

    .width-0 {
      width: 0%;
    }

    .progress-bar-stats-container {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 22px;
      }
    }

    .progress-bar--background {
      width: 100%;
      height: 12px;
      color: white;
      border-radius: 10px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    }

    .progress-bar--progress {
      height: 12px;
      background: linear-gradient(45deg, #6431f6, #fc8ab5);
      border-radius: 10px;
    }
  }

  @media all and (max-width: 480px) {
    .icon-container {
      height: 80px;
      width: 80px;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;

      .competence-icon {
        height: 40px;
        width: 40px;
      }
    }

    .progress-bar-container {
      padding: 0 20px;

      .progress-bar-stats-container {
        p {
          font-size: 16px;
          margin: 5px 0;
        }
      }

      .progress-bar--background {
        height: 8px;
      }
      .progress-bar--progress {
        height: 8px;
      }
    }

    .text-container {
      .competence-title {
        font-size: 18px;
        font-weight: 600;
        color: #5d5d5d;
        text-align: center;
        margin: 10px 0;
      }
      .competence-text {
        display: none;
      }
    }
  }
}
