.competence-card {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* ----------- RESPONSIVNESS  -----------  */
}

.competence-card:hover {
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.competence-card .competence-card__icon-container {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.competence-card .competence-card__icon-container .competence-card__competence-icon {
  height: 40px;
  width: 40px;
}

.competence-card .icon-container-color--green {
  /* background: linear-gradient(180deg, #6573ff, #7f8bf9); */
}

.competence-card .icon-container-color--blue {
  /* background: linear-gradient(180deg, #43e7fc, #00c5de); */
}

.competence-card .icon-container-color--pink {
  /* background: linear-gradient(180deg, #ff8797, #ff8797); */
}

.competence-card .icon-container-color--orange {
  /*   background: linear-gradient(180deg, #f6d185, #ffc64d); */
}

.competence-card .competence-card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 0;
  font-weight: 600;
  color: #253267;
}

.competence-card .competence-card__progress-container {
  width: 95%;
}

.competence-card .competence-card__progress-container .progress-bar__stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.competence-card .competence-card__progress-container .progress-bar__stats-container p {
  font-weight: 500;
  margin: 10px 0;
}

.competence-card .competence-card__progress-container .progress-bar__bar-background {
  width: 100%;
  height: 8px;
  color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.competence-card .competence-card__progress-container .progress-bar__bar-background .red {
  background: linear-gradient(45deg, #c43553, #ff8797);
}

.competence-card .competence-card__progress-container .progress-bar__bar-background .blue {
  background: linear-gradient(45deg, #377fea, #00c5de);
}

.competence-card .competence-card__progress-container .progress-bar__bar-background .yellow {
  background: linear-gradient(45deg, #f8af4d, #ffc64d);
}

.competence-card .competence-card__progress-container .progress-bar__bar-background .progress-bar__bar-progress {
  height: 8px;
  border-radius: 8px;
}

.competence-card .competence-card__progress-container .progress-width--90 {
  width: 90%;
}

.competence-card .competence-card__progress-container .progress-width--80 {
  width: 80%;
}

.competence-card .competence-card__progress-container .progress-width--70 {
  width: 70%;
}

.competence-card .competence-card__progress-container .progress-width--50 {
  width: 50%;
}

.competence-card .competence-card__progress-container .progress-width--40 {
  width: 40%;
}

.competence-card .competence-card__progress-container .progress-width--60 {
  width: 60%;
}

.competence-card .competence-card__progress-container .progress-width--30 {
  width: 30%;
}

.competence-card .competence-card__progress-container .progress-width--20 {
  width: 20%;
}

.competence-card .competence-card__progress-container .progress-width--0 {
  width: 0%;
}

@media all and (max-width: 780px) {
  .competence-card .competence-card__icon-container {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .competence-card .competence-card__icon-container .competence-card__competence-icon {
    height: 40px;
    width: 40px;
  }
  .competence-card .competence-card__progress-container {
    padding: 0 20px;
  }
  .competence-card .competence-card__progress-container .progress-bar__stats-container p {
    margin: 5px 0;
  }
  .competence-card .competence-card__progress-container .progress-bar__bar-background {
    height: 8px;
  }
  .competence-card .competence-card__progress-container .progress-bar__bar-background .progress-bar__bar-progress {
    height: 8px;
  }
  .competence-card .competence-card__text-container .competence-card__title {
    color: #5d5d5d;
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
  }
  .competence-card .competence-card__text-container .competence--card__text {
    display: none;
  }
}
/*# sourceMappingURL=Competence_card.css.map */