.competence-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;

  $this: &;

  &:hover {
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  }

  .competence-card__icon-container {
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;

    .competence-card__competence-icon {
      height: 40px;
      width: 40px;
    }
  }

  .icon-container-color--green {
    /* background: linear-gradient(180deg, #6573ff, #7f8bf9); */
    // background: linear-gradient(0, #7878f5, #aad7ff);
  }

  .icon-container-color--blue {
    /* background: linear-gradient(180deg, #43e7fc, #00c5de); */
    // background: linear-gradient(0, #7878f5, #aad7ff);
  }

  .icon-container-color--pink {
    /* background: linear-gradient(180deg, #ff8797, #ff8797); */
    // background: linear-gradient(0, #7878f5, #aad7ff);
  }

  .icon-container-color--orange {
    /*   background: linear-gradient(180deg, #f6d185, #ffc64d); */
    // background: linear-gradient(0, #7878f5, #aad7ff);
  }

  .competence-card__title {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    margin: 0;
    font-weight: 600;
    color: #253267;
  }

  .competence-card__progress-container {
    width: 95%;

    .progress-bar__stats-container {
      display: flex;
      justify-content: space-between;
      p {
        font-weight: 500;
        margin: 10px 0;
      }
    }

    .progress-bar__bar-background {
      width: 100%;
      height: 8px;
      color: white;
      border-radius: 8px;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);

      .red {
        background: linear-gradient(45deg, #c43553, #ff8797);
      }

      .blue {
        background: linear-gradient(45deg, #377fea, #00c5de);
      }

      .yellow {
        background: linear-gradient(45deg, #f8af4d, #ffc64d);
      }

      .progress-bar__bar-progress {
        height: 8px;
        border-radius: 8px;
      }
    }

    .progress-width--90 {
      width: 90%;
    }

    .progress-width--80 {
      width: 80%;
    }

    .progress-width--70 {
      width: 70%;
    }

    .progress-width--50 {
      width: 50%;
    }

    .progress-width--40 {
      width: 40%;
    }

    .progress-width--60 {
      width: 60%;
    }

    .progress-width--30 {
      width: 30%;
    }

    .progress-width--20 {
      width: 20%;
    }

    .progress-width--0 {
      width: 0%;
    }
  }

  /* ----------- RESPONSIVNESS  -----------  */

  @media all and (max-width: 780px) {
    .competence-card__icon-container {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .competence-card__competence-icon {
        height: 40px;
        width: 40px;
      }
    }

    .competence-card__progress-container {
      padding: 0 20px;

      .progress-bar__stats-container {
        p {
          margin: 5px 0;
        }
      }

      .progress-bar__bar-background {
        height: 8px;
        .progress-bar__bar-progress {
          height: 8px;
        }
      }
    }

    .competence-card__text-container {
      .competence-card__title {
        color: #5d5d5d;
        text-align: center;
        margin: 10px 0;
        font-size: 18px;
      }
      .competence--card__text {
        display: none;
      }
    }
  }
}
